/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4 {
  color: #000;
}
h1, h3, h4, h5, p {
  margin-bottom: 22px;
}
h1 {
  font-size: 30px;
  line-height: 34px;
}
h2 {
  font-size: 24px;
  line-height: 30px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px; 
}
strong {
  font-weight: 400;
}
cite,
em {
  font-style: italic;
}

/*
  ========================================
  Custom styles
  ========================================
*/
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color:#000;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*
  ========================================
  Layout
  ========================================
*/

.profile-container {
	display: grid;
	min-height: 100vh;
  width: 70%; 
  margin: 0 auto;
  grid-template-rows: 1fr;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas: "dashboard main follow";
}

/*
  ========================================
  Dashboard Layout
  ========================================
*/
.dashboard {
  grid-area: dashboard;
  display: grid;
  grid-template-rows: 1fr 10px 2fr;
  grid-template-areas: "profile"
                       "empty"
                       "trends";
}
.profile {
  background: yellow;
  grid-area: profile;
}
.trends {
  background: orange;
  grid-area: trends;
}
/*
  ========================================
  Main Layout
  ========================================
*/
.main {
  background: blue;
  grid-area: main;
}

/*
  ========================================
  Follow Layout
  ========================================
*/
.follow {
  grid-area: follow;
  display: grid;
  grid-template-rows: 30% 20px 40%;
  grid-template-areas: "follow-recommendation"
                       "empty"
                       "side-nav";
}

.follow-recommendation {
  grid-area: follow-recommendation;
  background-color: pink;
}
.side-nav {
  grid-area: side-nav;
  background: lavender;
}
/*
  ========================================
  Navigation
  ========================================
*/
.profile-nav { 
  border-bottom:1px solid #e6ecf0;
  margin-bottom: 10px;
}
.user-nav {	
  width:70%;
  display:flex;
  margin: 0 auto;
  height: 46px;
  align-items: center;
}
.nav-list {
  display: flex;
}
.navs:not(last-child) {
  margin-right: 10px;
}
.navs {
  height:46px;
  line-height: 46px;
}
.nav-icon {
  position: relative;
  top:6px;
}
.nav-icon {
  height: 25px;
  width: 25px;
  border-radius: 100px;
}

.bayicon {
  margin: 0 auto;
  height: 25px;
  width: 25px;
}

/* Forms */
.search {
  height: 30px;
  width: 190px;
  border-radius: 21px;
  border: 1px solid #e6ecf0;
  background-color: #f5f8fa;
  margin-right: 15px;
}
.search:focus {
  height: 30px;
  width: 190px;
  border: 2px solid #54d3df;
  border-radius: 21px;
  outline: none;
}
.user-icon {
  margin-right: 15px;
}

/* navbtn */
.navbtn {
  font-size: 16px;
  border: 0;
  background: #54d3df;
  text-align: center;
  height: 36px;
  line-height: 36px;
  width: 75px;
  color: #fff;
  border-radius: 100px;
  
}
.navbtn:focus {
  height: 38px;
  width: 75px;
  border: 2px solid #54d3df;
  border-radius: 100px;
  outline: none;
}

/*
  ========================================
  Mobile/Tablet
  ========================================
*/

@media screen and (max-width: 940px) {
  .navs {
    width: 46px;
  }
  .nav-link {
    display: none;
  }
  .search {
   
    width: 100px;
   
  }
  .search:focus {
    
    width: 100px;
   
   
  }
}